.head
  .head__top
    .head__top__wrapper
      .head__top__wrapper__content1
        %img.head__top__wrapper__content1__image
          = image_tag src="logo.png", size: "200x59"
      .head__top__wrapper__content2
        フリマアプリ＆サイト DustBooooooox
      .head__top__wrapper__content3
        .head__top__wrapper__content3__icon
          = icon('fas', 'box-open', class: 'head__top__wrapper__content3__icon__box')
        .head__top__wrapper__content3__text
          出品
      .head__top__wrapper__content4
        .head__top__wrapper__content4__icon
          = icon('fas', 'heart', class: 'head__top__wrapper__content4__icon__heart')
        .head__top__wrapper__content4__text
          スキ
      .head__top__wrapper__content5
        .head__top__wrapper__content4__icon
          = icon('fas', 'envelope-open-text', class: 'head__top__wrapper__content4__icon__heart')
        .head__top__wrapper__content4__text
          お問い合わせ
      .head__top__wrapper__content6
        %a(href="#")
          無料会員登録
        %a(href="#")
          ログイン
  .head__under
    .head__under__wrapper
      .head__under__wrapper__cat
        カテゴリ
      .head__under__wrapper__bra
        ブランド
      .head__under__wrapper__ser
        %input(placeholder='キーワードから探す')
          = icon('fas', 'search', class: 'head__under__wrapper__ser__icon')
    .head__under__in-category
      .head__under__in-category__wrapper
        %p
          フリマアプリ＆サイト DustBooooooox
        .head__under__in-category__wrapper__image-box
        .head__under__in-category__wrapper__image-box
        .head__under__in-category__wrapper__image-box
        .head__under__in-category__wrapper__image-box
        .head__under__in-category__wrapper__image-box
        .head__under__in-category__wrapper__image-box
        .head__under__in-category__wrapper__image-box
        .head__under__in-category__wrapper__image-box
        .head__under__in-category__wrapper__image-box
        %a(href="#")
          カテゴリ一覧
    .head__under__in-brand
