.head
  .head__top
    .head__top__wrapper
      .head__top__wrapper__content1
        %img.head__top__wrapper__content1__image
          = image_tag src="logo.png", size: "200x59"
      .head__top__wrapper__content2
        フリマアプリ＆サイト DustBooooooox
      .head__top__wrapper__content3
        .head__top__wrapper__content3__icon
          = icon('fas', 'box-open', class: 'head__top__wrapper__content3__icon__box')
        .head__top__wrapper__content3__text
          出品
      .head__top__wrapper__content4
        .head__top__wrapper__content4__icon
          = icon('fas', 'heart', class: 'head__top__wrapper__content4__icon__heart')
        .head__top__wrapper__content4__text
          スキ
      .head__top__wrapper__content5
        .head__top__wrapper__content4__icon
          = icon('fas', 'envelope-open-text', class: 'head__top__wrapper__content4__icon__heart')
        .head__top__wrapper__content4__text
          お問い合わせ
      .head__top__wrapper__content6
        %a(href="#")
          無料会員登録
        %a(href="#")
          ログイン
  .head__under
    .head__under__wrapper
      .head__under__wrapper__cat
        カテゴリ
      .head__under__wrapper__bra
        ブランド
      .head__under__wrapper__ser
        %input(placeholder='キーワードから探す')
          = icon('fas', 'search', class: 'head__under__wrapper__ser__icon')
    .head__under__in-category
      .head__under__in-category__wrapper
        %p
          フリマアプリ＆サイト DustBooooooox
        .head__under__in-category__wrapper__image-box
          .head__under__in-category__wrapper__image-box__in
            .head__under__in-category__wrapper__image-box__in__arrow
              = icon('fas', 'chevron-right', class: '.head__under__in-category__wrapper__image-box__arrow__icon')
            .head__under__in-category__wrapper__image-box__in__icon-box
              .head__under__in-category__wrapper__image-box__icon-box__icon
                %img.head__top__wrapper__content1__image
                  = image_tag src="0-01.png", size: "80x80"
          .head__under__in-category__wrapper__image-box__text
            ファッション
          .head__under__in-category__wrapper__image-box__cate
            ファッション
        .head__under__in-category__wrapper__image-box
          .head__under__in-category__wrapper__image-box__in
            .head__under__in-category__wrapper__image-box__in__arrow
              = icon('fas', 'chevron-right', class: '.head__under__in-category__wrapper__image-box__arrow__icon')
            .head__under__in-category__wrapper__image-box__in__icon-box
              .head__under__in-category__wrapper__image-box__icon-box__icon
                %img.head__top__wrapper__content1__image
                  = image_tag src="0-02.png", size: "80x80"
          .head__under__in-category__wrapper__image-box__text
            マタニティ
          .head__under__in-category__wrapper__image-box__cate
            ベビー/キッズ
        .head__under__in-category__wrapper__image-box
          .head__under__in-category__wrapper__image-box__in
            .head__under__in-category__wrapper__image-box__in__arrow
              = icon('fas', 'chevron-right', class: '.head__under__in-category__wrapper__image-box__arrow__icon')
            .head__under__in-category__wrapper__image-box__in__icon-box
              .head__under__in-category__wrapper__image-box__icon-box__icon
                %img.head__top__wrapper__content1__image
                  = image_tag src="0-03.png", size: "80x80"
          .head__under__in-category__wrapper__image-box__text
            本・CD・ゲーム
          .head__under__in-category__wrapper__image-box__cate
            本・CD・ゲーム
        .head__under__in-category__wrapper__image-box
          .head__under__in-category__wrapper__image-box__in
            .head__under__in-category__wrapper__image-box__in__arrow
              = icon('fas', 'chevron-right', class: '.head__under__in-category__wrapper__image-box__arrow__icon')
            .head__under__in-category__wrapper__image-box__in__icon-box
              .head__under__in-category__wrapper__image-box__icon-box__icon
                %img.head__top__wrapper__content1__image
                  = image_tag src="0-04.png", size: "80x80"
          .head__under__in-category__wrapper__image-box__text
            ぬいぐるみ
          .head__under__in-category__wrapper__image-box__cate
            グッズ・おもちゃ
        .head__under__in-category__wrapper__image-box
          .head__under__in-category__wrapper__image-box__in
            .head__under__in-category__wrapper__image-box__in__arrow
              = icon('fas', 'chevron-right', class: '.head__under__in-category__wrapper__image-box__arrow__icon')
            .head__under__in-category__wrapper__image-box__in__icon-box
              .head__under__in-category__wrapper__image-box__icon-box__icon
                %img.head__top__wrapper__content1__image
                  = image_tag src="0-05.png", size: "80x80"
          .head__under__in-category__wrapper__image-box__text
            コミック、アニメ
          .head__under__in-category__wrapper__image-box__cate
            タレントグッズ
        .head__under__in-category__wrapper__image-box
          .head__under__in-category__wrapper__image-box__in
            .head__under__in-category__wrapper__image-box__in__arrow
              = icon('fas', 'chevron-right', class: '.head__under__in-category__wrapper__image-box__arrow__icon')
            .head__under__in-category__wrapper__image-box__in__icon-box
              .head__under__in-category__wrapper__image-box__icon-box__icon
                %img.head__top__wrapper__content1__image
                  = image_tag src="0-06.png", size: "80x80"
          .head__under__in-category__wrapper__image-box__text
            文房具
          .head__under__in-category__wrapper__image-box__cate
            文房具
        .head__under__in-category__wrapper__image-box
          .head__under__in-category__wrapper__image-box__in
            .head__under__in-category__wrapper__image-box__in__arrow
              = icon('fas', 'chevron-right', class: '.head__under__in-category__wrapper__image-box__arrow__icon')
            .head__under__in-category__wrapper__image-box__in__icon-box
              .head__under__in-category__wrapper__image-box__icon-box__icon
                %img.head__top__wrapper__content1__image
                  = image_tag src="0-07.png", size: "80x80"
          .head__under__in-category__wrapper__image-box__text
            家電
          .head__under__in-category__wrapper__image-box__cate
            スマホ
        .head__under__in-category__wrapper__image-box
          .head__under__in-category__wrapper__image-box__in
            .head__under__in-category__wrapper__image-box__in__arrow
              = icon('fas', 'chevron-right', class: '.head__under__in-category__wrapper__image-box__arrow__icon')
            .head__under__in-category__wrapper__image-box__in__icon-box
              .head__under__in-category__wrapper__image-box__icon-box__icon
                %img.head__top__wrapper__content1__image
                  = image_tag src="0-08.png", size: "80x80"
          .head__under__in-category__wrapper__image-box__text
            インテリア
          .head__under__in-category__wrapper__image-box__cate
            住まい・雑貨
        .head__under__in-category__wrapper__image-box
          .head__under__in-category__wrapper__image-box__in
            .head__under__in-category__wrapper__image-box__in__arrow
              = icon('fas', 'chevron-right', class: '.head__under__in-category__wrapper__image-box__arrow__icon')
            .head__under__in-category__wrapper__image-box__in__icon-box
              .head__under__in-category__wrapper__image-box__icon-box__icon
                %img.head__top__wrapper__content1__image
                  = image_tag src="0-09.png", size: "80x80"
          .head__under__in-category__wrapper__image-box__text
            その他
          .head__under__in-category__wrapper__image-box__cate
            その他
        %a(href="#")
          カテゴリ一覧
    .head__under__in-brand
