.loopSlider2
  .loopslider_wrap2
    %ul
      %li.product1
        %a(href="#")
          = image_tag src="Izumi.jpg", size: "190x190"
      %li.product2
        %a(href="#")
          = image_tag src="KingBladray.png", size: "190x190"
      %li.product3
        %a(href="#")
          = image_tag src="Kornelo.jpeg", size: "190x190"
      %li.product4
        %a(href="#")
          = image_tag src="Marth.jpeg", size: "190x190"
      %li.product5
        %a(href="#")
          = image_tag src="Pinako.jpeg", size: "190x190"
      %li.product6
        %a(href="#")
          = image_tag src="Riza.jpeg", size: "190x190"
      %li.product7
        %a(href="#")
          = image_tag src="Roy.jpeg", size: "190x190"
      %li.product8
        %a(href="#")
          = image_tag src="Scar.jpeg", size: "190x190"
      %li.product9
        %a(href="#")
          = image_tag src="Winry.jpeg", size: "190x190"
