.loopSlider2
  .loopslider_wrap2
    %ul
      %li
        %a(href="#")
          = image_tag src="07.jpg", size: "190x190"
      %li
        %a(href="#")
          = image_tag src="08.jpg", size: "190x190"
      %li
        %a(href="#")
          = image_tag src="09.jpg", size: "190x190"
      %li
        %a(href="#")
          = image_tag src="010.jpg", size: "190x190"
      %li
        %a(href="#")
          = image_tag src="011.jpg", size: "190x190"
      %li
        %a(href="#")
          = image_tag src="012.jpg", size: "190x190"
      %li
        %a(href="#")
          = image_tag src="013.jpg", size: "190x190"
      %li
        %a(href="#")
          = image_tag src="014.jpg", size: "190x190"
      %li
        %a(href="#")
          = image_tag src="015.jpg", size: "190x190"
