.loopSlider
  .loopslider_wrap
    %ul
      %li.item1
        %a(href="#")
          = image_tag src="01.jpg", size: "240x380"
          .mask1
            .caption1
              ガジェット
      %li.item2
        %a(href="#")
          = image_tag src="02.jpg", size: "240x380"
          .mask2
            .caption2
              マカロン
      %li.item3
        %a(href="#")
          = image_tag src="03.jpg", size: "240x380"
          .mask3
            .caption3
              アイデア
      %li.item4
        %a(href="#")
          = image_tag src="04.jpg", size: "240x380"
          .mask4
            .caption4
              ガール
      %li.item5
        %a(href="#")
          = image_tag src="05.jpg", size: "240x380"
          .mask5
            .caption5
              セカイ
      %li.item6
        %a(href="#")
          = image_tag src="06.jpg", size: "240x380"
          .mask6
            .caption6
              gggggggggggg
      %li.item7
        %a(href="#")
          = image_tag src="07.jpg", size: "240x380"
          .mask7
            .caption7
              hhhhhhhhh