.middle_4
  .top_contents
    .top_contents__title
      %h1
        %span.top_contents__title__strong
          CATEGORY
        ファッションカテゴリから探す
    .top_contents__images
      .top_contents__images__image
        = image_tag src="Fuu.jpeg", size: "190x190"
        .top_contents__images__image__mask
          .top_contents__images__image__mask__capition
            %p.first
              Fuu
            %p.second
              フー爺さん
      .top_contents__images__image
        = image_tag src="Graicia.jpeg", size: "190x190"
        .top_contents__images__image__mask
          .top_contents__images__image__mask__capition
            %p.first
              Glacier
            %p.second
              グレイシア・ヒューズ
      .top_contents__images__image
        = image_tag src="Gramann.jpeg", size: "190x190"
        .top_contents__images__image__mask
          .top_contents__images__image__mask__capition
            %p.first
              Graman
            %p.second
              グラマン中将
      .top_contents__images__image
        = image_tag src="Homnculse.png", size: "190x190"
        .top_contents__images__image__mask
          .top_contents__images__image__mask__capition
            %p.first
              Homunculus
            %p.second
              フラスコの中の小人
      .top_contents__images__image
        = image_tag src="Last.jpg", size: "190x190"
        .top_contents__images__image__mask
          .top_contents__images__image__mask__capition
            %p.first
              Last
            %p.second
              ラスト
      .top_contents__images__image
        = image_tag src="Maria.jpeg", size: "190x190"
        .top_contents__images__image__mask
          .top_contents__images__image__mask__capition
            %p.first
              Maria Los
            %p.second
              マリア・ロス
      .top_contents__images__image
        = image_tag src="Mei.jpeg", size: "190x190"
        .top_contents__images__image__mask
          .top_contents__images__image__mask__capition
            %p.first
              Mei Chang
            %p.second
              メイ・チャン
      .top_contents__images__image
        = image_tag src="RangFang.jpeg", size: "190x190"
        .top_contents__images__image__mask
          .top_contents__images__image__mask__capition
            %p.first
              Rang Fang
            %p.second
              ランファン
      .top_contents__images__image
        = image_tag src="Van.jpeg", size: "190x190"
        .top_contents__images__image__mask
          .top_contents__images__image__mask__capition
            %p.first
              Van Hohenheim
            %p.second
              ヴァン・ホーエンハイム
    .top_contents__news
      %h1
        %span.top_contents__news__strong
          NEWS
        お知らせ
      .top_contents__news__wrapper
        .top_contents__news__wrapper__right
          %p
            2020年7月22日
          %p
            2020年6月26日
          %p
            2020年6月23日
        .top_contents__news__wrapper__left
          %p
            【重要】7/23サーバーメンテナンスのお知らせ
          %p
            ショピマガvol.66　美肌を守るuvカットアイテム
          %p
            ブランド追加のお知らせ
  .top_contents_right
    .top_contents_right__recomend
      = image_tag src="Winry.jpeg", size: "299x400"
    .top_contents_right__twitter
      = image_tag src="Hagarenn_logo.jpg", size: "299x100"
    .top_contents_right__socials
      = image_tag src="https://image.shoppies.jp/img_m/twitter_pc.png", size: "50x50"
      = image_tag src="https://image.shoppies.jp/img_m/facebook_pc.png", size: "50x50"
      = image_tag src="https://image.shoppies.jp/img_m/mail_pc.png", size: "50x50"