.loopSlider
  .loopslider_wrap
    %ul
      %li.item1
        %a(href="#")
          = image_tag src="Alfonce.jpeg", size: "240x380"
          .mask1
            .caption1
              アルフォンス
      %li.item2
        %a(href="#")
          = image_tag src="armstrong.jpeg", size: "240x380"
          .mask2
            .caption2
              アームストロング少佐
      %li.item3
        %a(href="#")
          = image_tag src="Edward.jpeg", size: "240x380"
          .mask3
            .caption3
              エド
      %li.item4
        %a(href="#")
          = image_tag src="Envy.jpg", size: "240x380"
          .mask4
            .caption4
              エンヴィー
      %li.item5
        %a(href="#")
          = image_tag src="FEArmstrong.jpeg", size: "240x380"
          .mask5
            .caption5
              アームストロング少将
      %li.item6
        %a(href="#")
          = image_tag src="Gratony.jpg", size: "240x380"
          .mask6
            .caption6
              グラトニー
      %li.item7
        %a(href="#")
          = image_tag src="Habok.jpg", size: "240x380"
          .mask7
            .caption7
              ジャン・ハボック