.loopSlider
  .loopslider_wrap
    %ul
      %li
        %a(href="#")
          = image_tag src="01.jpg", size: "240x380"
      %li
        %a(href="#")
          = image_tag src="02.jpg", size: "240x380"
      %li
        %a(href="#")
          = image_tag src="03.jpg", size: "240x380"
      %li
        %a(href="#")
          = image_tag src="04.jpg", size: "240x380"
      %li
        %a(href="#")
          = image_tag src="05.jpg", size: "240x380"
      %li
        %a(href="#")
          = image_tag src="06.jpg", size: "240x380"
      %li
        %a(href="#")
          = image_tag src="07.jpg", size: "240x380"